.item-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width: 768px) {
    .item-index {
        grid-template-columns: repeat(2, 1fr);
    }
}
