.store-page {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.item-index {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 30px;
    /* make the children at the top */
    justify-content: flex-start;
    /* make the children wrap */
    flex-wrap: wrap;
}

/* @media screen and (max-width: 768px) {
    .item-index {
        grid-template-columns: repeat(2, 1fr);
    }
} */
