.store-index {
    display: flex; /* make the container a flex container */
    flex-wrap: wrap; /* allow the container to wrap its children to a new row */
    justify-content: center; /* center the children horizontally */
    margin-top: 150px;
    margin-left: 25%;
    width: 1000px;
    height: 480px;
}

.store-container {
    display: flex; /* make the store container a flex container */
    flex-direction: column; /* align children vertically */
    margin: 1rem;
    max-width: 300px; /* set a max width for the store container */
}

.store-container img {
    width: 100%; /* make the image take up the full width of the container */
}

.store-info {
    padding: 0.5rem;
    background-color: #f2f2f2;
    text-align: center;
}
