.order-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}