nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.searchbar input[type="text"] {
  width: 1200px;
  height: 50px;
}

nav > * {
  display: flex;
  align-items: center;
}

.searchbar button[type="submit"] {
  width: 80px;
  height: 50px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 400px;
  background-color: white;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.arrow-button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #1abc;
  cursor: pointer;
}