.profile-dropdown {
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 2;
}

.fa-user-circle {
    font-size: 1.7rem;
}